.container {
	width: 500px;
	border: 1px solid;
}
.gambar{
	height: 150px;
	width: 150px;
}
img {
	width: 150px;
}
.keterangan {
	text-align: left;
	color: black;
}
.tombol_kembali{
	position: left;
}